@import "tailwindcss";

.chat-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.chat-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 9999px;
}

.chat-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #374151;
}

.chat-scrollbar:hover::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}